// ==========================================================================
// Grid Styles
// ==========================================================================

.grid__row {
  margin: 2em 0;
  @include mq($break-t) {
    @include flexbox {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}

// Flex-item loop to assign correct flex-grow property
@include mq($break-t) {
  @for $i from 1 through 12 {
    .grid__col--#{$i} {
      width: calc(1024px*calc(#{$i}/12));
    }
  }
}

.theme__colors {
  margin: 0.5em 0;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 0.5em;
  text-align: center;
  @include mq($break-t) {
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}

$theme-color-map: (
  '12': $color-secondary,
  '6' : $color-accent,
  '4' : $color-primary,
  '3' : $color-info,
  '5' : $color-success,
  '7' : $color-negative,
  '8' : $color-warning
);

// Looping through each combo of .grid__col--# and .theme__colors to apply a background-color
@each $col-value, $themecolor in $theme-color-map {
  .grid__col--#{$col-value}.theme__colors {
    background-color: $themecolor;
  }
}

.grid__col--6.theme__colors {
  color: $white;
}
